@import "variables";

.wrapper-Nav{
    background-color: $secondaryColor;
    height: 100px;
    .nav{
        @include flex;
        justify-content: space-between;
        height: 100%;
        .logo{
            @include flex;
            font-feature-settings: 'clig' off, 'liga' off;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: 68px;
            letter-spacing: -1.48px;
            gap: 10px;
            cursor: pointer;
        }
        .menu{
            @include flex;
            gap: 24px;
            li{
                @include flex;
                align-items: flex-end;
                gap: 5px;
                cursor: pointer;
            }
        }
        .btn{
            @include btn;
            background: $gradient;
            color: $secondaryColor;
            transition:  0.5s;
        }
        .btn:hover{
            background: transparent;
            color: $primaryColor;
            border: 1px solid #351EE0;
        }
    }
}